body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  padding-bottom: 30px;
}

.search-container {
  width: 100%;
  max-width: 600px;
  position: relative;
}

input {
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  box-sizing: border-box; /* Fixes padding issues */
}

input:focus {
  border-color: #1a73e8;
}

#results {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  /* background-color: red; */
  padding: 10px;
  /* overflow: scroll; */
}

.card {
  background: white;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  animation: fadeIn 0.3s ease-in-out;
}

.term {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-transform: capitalize;
}
.def {
  color: #2e7d32;
  font-style: italic;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
